/* Reset */
*, *::before, *::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
/* Root font size */
html {
   font-size: 62.5%;
   scroll-behavior: smooth;
   -webkit-text-size-adjust: none;
   text-size-adjust: none;
}
/* Images */
img {
   display: block;
   max-width: 100%;
}
/* Lists */
ul, ol {
   list-style: none;
   padding-left: 0;
}
/* Focus styles */
:focus:not(:focus-visible) {
   outline: none;
}
/* Interactive elements */
button, label, select, [type="checkbox"], [type="radio"] {
   cursor: pointer;
}